### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
unique_player_count = len(purchase_data["SN"].unique())

player_count_df = pd.DataFrame([{"Total Players": unique_player_count}])
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item Name"].unique())

Price_sum = purchase_data["Price"].sum()

num_Purchase = len(purchase_data["Purchase ID"])

Ave_Price = Price_sum/num_Purchase

Purch_Anlyss_df = pd.DataFrame([
    {"Number of Unique Items": unique_items,
     "Average Price": Ave_Price,
     "Number of Purchases": num_Purchase,
     "Total Revenue": Price_sum}])

Purch_Anlyss_df['Average Price'] = Purch_Anlyss_df['Average Price'].astype(float).map("${:,.2f}".format)
Purch_Anlyss_df['Total Revenue'] = Purch_Anlyss_df['Total Revenue'].astype(float).map("${:,.2f}".format)
Purch_Anlyss_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
unique_SN_df = purchase_data.drop_duplicates("SN")

count_by_gender = pd.DataFrame(unique_SN_df["Gender"].value_counts())
count_by_gender = count_by_gender.rename(columns={"Gender": "Total Count"})

prcnt_plyrs = pd.DataFrame(unique_SN_df["Gender"].value_counts()/unique_player_count)
prcnt_plyrs = prcnt_plyrs.rename(columns={"Gender": "Percentage of Players"})

count_by_gender['Percentage of Players'] = prcnt_plyrs

count_by_gender['Percentage of Players'] = count_by_gender['Percentage of Players'].astype(float).map("{:,.2%}".format)
count_by_gender

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purch_count_byGndr = pd.DataFrame(purchase_data["Gender"].value_counts())
purch_count_byGndr_df = purch_count_byGndr.rename(columns={"Gender": "Purchase Count"})

purchase_data_Gender = purchase_data.groupby(["Gender"])

total_purchVal_byGndr = pd.DataFrame(purchase_data_Gender.Price.sum())
purch_count_byGndr_df['Total Purchase Value'] = total_purchVal_byGndr

purch_count_byGndr_df['Average Purchase Price'] = purchase_data_Gender.Price.sum()/purchase_data["Gender"].value_counts()

purch_count_byGndr_df['Avg Total Purchase per Person'] = purchase_data_Gender.Price.sum() / unique_SN_df["Gender"].value_counts()

In [6]:
purch_count_byGndr_df["Total Purchase Value"] = purch_count_byGndr_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purch_count_byGndr_df["Average Purchase Price"] = purch_count_byGndr_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purch_count_byGndr_df["Avg Total Purchase per Person"] = purch_count_byGndr_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

purch_count_byGndr_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Male,652,"$1,967.64",$3.02,$4.07
Female,113,$361.94,$3.20,$4.47
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
age_bins = [0, 9.999, 14.999, 19.999, 24.999, 29.999, 34.999, 39.999, 100]

age_group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

pd.cut(unique_SN_df["Age"], age_bins, labels=age_group_labels)

unique_SN_df = pd.DataFrame(unique_SN_df)
unique_SN_df["Age_Group"] = pd.cut(unique_SN_df["Age"], age_bins, labels=age_group_labels)

Age_Group_df = pd.DataFrame(unique_SN_df.Age_Group.value_counts())
Age_Group_df = Age_Group_df.rename(columns={"Age_Group": "Total Count"})

Age_Group_df["Percentage of Players"] = unique_SN_df.Age_Group.value_counts()/unique_player_count

Age_Group_df["Percentage of Players"] = Age_Group_df["Percentage of Players"].astype(float).map("{:,.2%}".format)

Age_Group_df.sort_index(axis=0)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
age_bins = [0, 9.999, 14.999, 19.999, 24.999, 29.999, 34.999, 39.999, 100]

age_group_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data["Age_Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_group_labels)

purchase_count_byAge = pd.DataFrame(purchase_data.Age_Group.value_counts())
purchase_count_byAge = purchase_count_byAge.sort_index(axis=0)
purchase_count_byAge = purchase_count_byAge.rename(columns={"Age_Group": "Purchase Count"})

purchase_data_Age_df = purchase_data.groupby(["Age_Group"])

total_purchVal_byAge = pd.DataFrame(purchase_data_Age_df.Price.sum())
purchase_count_byAge['Total Purchase Value'] = total_purchVal_byAge

ave_Price_byAge = purchase_data_Age_df.Price.sum()/purchase_data.Age_Group.value_counts()
purchase_count_byAge['Average Purchase Price'] = ave_Price_byAge

ave_TotalPur_byAge = purchase_data_Age_df.Price.sum()/unique_SN_df.Age_Group.value_counts()
purchase_count_byAge['Avg Total Purchase per Person'] = ave_TotalPur_byAge

In [9]:
purchase_count_byAge["Average Purchase Price"] = purchase_count_byAge["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchase_count_byAge["Total Purchase Value"] = purchase_count_byAge["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purchase_count_byAge["Avg Total Purchase per Person"] = purchase_count_byAge["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
purchase_count_byAge

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,"$1,114.06",$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40+,13,$38.24,$2.94,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
purchase_data_SN = purchase_data.groupby(["SN"])

purch_count_bySN = pd.DataFrame(purchase_data["SN"].value_counts())
purch_count_bySN_df = purch_count_bySN.rename(columns={"SN": "Purchase Count"})

total_purchVal_bySN = pd.DataFrame(purchase_data_SN.Price.sum())
purch_count_bySN_df['Total Purchase Value'] = total_purchVal_bySN

purch_count_bySN_df['Average Purchase Price'] = purchase_data_SN.Price.sum()/purchase_data["SN"].value_counts()
purch_count_bySN_sorted = purch_count_bySN_df.sort_values('Total Purchase Value', ascending=False).head(5)

In [11]:
purch_count_bySN_sorted["Average Purchase Price"] = purch_count_bySN_sorted["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purch_count_bySN_sorted["Total Purchase Value"] = purch_count_bySN_sorted["Total Purchase Value"].astype(float).map("${:,.2f}".format)
purch_count_bySN_sorted

             Purchase Count Total Purchase Value Average Purchase Price
Lisosia93                 5               $18.96                  $3.79
Idastidru52               4               $15.45                  $3.86
Chamjask73                3               $13.83                  $4.61
Iral74                    4               $13.62                  $3.40
Iskadarya95               3               $13.10                  $4.37

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
# Extract item Data
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Perform basic calculations
total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

item_data_df = pd.DataFrame(item_count)
item_data_df['Item Price']=average_item_purchase
item_data_df['Total Purchase Value']=total_item_purchase

item_data_df["Item Price"] = item_data_df["Item Price"].astype(float).map("${:,.2f}".format)
item_data_df["Total Purchase Value"] = item_data_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)

item_data_df.sort_values('Purchase Count', ascending=False).head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [43]:
item_data_df.sort_values(by=['Purchase Count','Total Purchase Value'], ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
75,Brutality Ivory Warmace,8,$2.42,$19.36
34,Retribution Axe,8,$2.22,$17.76
7,"Thorn, Satchel of Dark Souls",7,$1.33,$9.31
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
141,Persuasion,7,$3.19,$22.33
159,"Oathbreaker, Spellblade of Trials",7,$3.08,$21.56
53,Vengeance Cleaver,7,$2.05,$14.35
117,"Heartstriker, Legacy of the Light",7,$1.79,$12.53
85,Malificent Bag,7,$1.75,$12.25
164,Exiled Doomblade,7,$1.63,$11.41
71,Demise,7,$1.61,$11.27
110,Suspension,7,$1.44,$10.08
143,Frenzied Scimitar,6,$1.56,$9.36
129,"Fate, Vengeance of Eternal Justice",6,$1.54,$9.24
12,Dawne,6,$1.02,$6.12
179,"Wolf, Promise of the Moonwalker",6,$4.48,$26.88
160,Azurewrath,6,$4.40,$26.40
25,Hero Cane,6,$4.35,$26.10
136,Ghastly Adamantite Protector,6,$3.58,$21.48
...,...,...,...,...
81,Dreamkiss,2,$3.61,$7.22
43,Foul Edge,2,$3.54,$7.08
132,Persuasion,2,$3.33,$6.66
56,Foul Titanium Battle Axe,2,$2.92,$5.84
176,Relentless Iron Skewer,2,$2.84,$5.68
14,Possessed Core,2,$2.61,$5.22
48,"Rage, Legacy of the Lone Victor",2,$2.48,$4.96
158,"Darkheart, Butcher of the Champion",2,$2.45,$4.90
30,Stormcaller,2,$2.21,$4.42
177,"Winterthorn, Defender of Shifting Worlds",2,$2.08,$4.16
115,Spectral Diamond Doomblade,2,$2.04,$4.08
69,"Frenzy, Defender of the Harvest",2,$1.98,$3.96
31,Trickster,2,$1.55,$3.10
168,"Sun Strike, Jaws of Twisted Visions",2,$1.48,$2.96
33,Curved Axe,2,$1.16,$2.32
26,Unholy Wand,2,$1.12,$2.24
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
51,Endbringer,1,$4.66,$4.66
134,Undead Crusader,1,$4.50,$4.50
91,Celeste,1,$4.17,$4.17
47,"Alpha, Reach of Ending Hope",1,$3.58,$3.58
180,Stormcaller,1,$3.36,$3.36
27,"Riddle, Tribute of Ended Dreams",1,$3.30,$3.30
90,Betrayer,1,$2.94,$2.94
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
126,Exiled Mithril Longsword,1,$2.00,$2.00
23,Crucifer,1,$1.99,$1.99
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75